.bg {
  /* The image used */
  background-image: url("/src/laptop-in-coworking-space.jpg");
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1532449126113-fc07ccec79a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80");
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Phone CSS */

.main-card-div {
  margin-top: 13.75rem;
}

.main-card {
  height: 8rem;
  background-color: #b1b493;
}

.phone-home-cols {
  margin: 8rem;
}

.phone-skills-cols {
  margin: 1rem;
}
.skill-cards {
  width: 8rem;
}

#html-css-pic {
  background-image: url(./assets/img/html-css-logo.png);
}

.skills-pic {
  background-size: cover;
  background-repeat: no-repeat;
}

@include media-breakpoint-down(sm) {
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(xxl) {
}
